:root {
    --primary-color: #0a45b5;
    --secondary-color: #1e1e1e;
    --third-color: #8e989f;
    --linear-color-1: #0a45b5;
    --linear-color-2: #0a45b5;
    --linear-color-3: rgba(10,69,181,0.8);

    --white-color: #fff;


    --padding: 1em;
    --margin: 1em;

}