.feature {
    background-image: url('/images/bg-feature.png');
    width: 97vw;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 70%;
    padding: calc(var(--padding) * 3) 0 calc(var(--padding) * 6);
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            text-align: center;
            color: var(--white-color);
            h2 {
                font-size: 2.441em;
                padding-bottom: calc(var(--padding) / 2);
            }
        }
        .featureCircle {
            position: relative;
            height: 800px;
            width: 97vw;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                margin: 0 auto;
                li {
                    background-color: var(--white-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    .icon {
                        svg {
                            width: 38px;
                        }
                    }
                    
                    &:nth-child(1) {
                        left: 3%;
                        top: 50%;
                        color: #68d9c0;
                    }
                    &:nth-child(2) {
                        left: 20%;
                        top: 15%;
                        color: #6d73ef;
                    }
                    &:nth-child(3) {
                        right: 20%;
                        top: 15%;
                        color: #ff6a5c;
                    }
                    &:nth-child(4) {
                        right: 3%;
                        top: 58%;
                        color: #ff6a5c;
                    }
                    &:nth-child(5) {
                        left: 20%;
                        bottom: 15%;
                        color: #68d9c0;
                    }
                    &:nth-child(6) {
                        left: 24%;
                        top: 40%;
                        color: #6d73ef;
                    }
                    &:nth-child(7) {
                        right: 40%;
                        top: 25%;
                        color: #ff6a5c;
                    }
                    &:nth-child(8) {
                        right: 20%;
                        top: 45%;
                        color: #ff6a5c; 
                    }
                    &:nth-child(9) {
                        right: 20%;
                        bottom: 10%;
                        color: #6d73ef;
                    }
                    h6 {
                        text-align: center;
                        color: black;
                        font-weight: 400;
                    }
                }
            }
            .dotCircle {
                border-radius: 100%;
                margin: 0 auto;
                text-align: center;
                position: absolute;
                left: 0;
                right: 0;
                border: 1px solid #fff;
                opacity: .3;
                height: 950px;
                width: 950px;
                top: 10%;
                .effectCircle {
                    height: 600px;
                    width: 600px;
                    top: 20%; 

                    border-radius: 100%;
                    margin: 0 auto;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    right: 0;
                    border: 1px solid #fff;
                    opacity: .3;
                }
            }
            .circleBg {
                margin: 0 auto;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }
}