.card{
    height: 540px;
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back_face{
   
}
.up_face{

}

flip_up:active > .up_face{}
flip_down fli{}