.ourServices {
    padding: calc(var(--padding) * 4);
    .content {
        .title {
            text-align: center;
            padding-bottom: calc(var(--padding) * 4);
            p {
                color: var(--third-color);
            }
        }
        .row {
            display: flex;
            justify-content: center;
            .image {
                width: 50%;
                display: flex;
                justify-content: center;
                img {
                    max-width: 70%;
                    object-fit: contain;
                }
            }
            .accordion {
                width: 50%;
            }
        }
    }
}